*{
border: red dashed 1px;
text-align:center;
background-color: #B15AB4;
}

tbody {
    text-align:center;
}

.themed-tbody {
    background-color: #FFCF91 !important;
    color: #FFCF91 !important;
}

.themed-button {
    color: #49687F !important;
    background-color: #77B4DF !important;
    border-color: #96D1FB !important;

}
.themed-button:hover {
    color: #96D1FB !important;
    background-color: #77B4DF !important;
    border-color: #96D1FB !important;

}

input.themed-input {
    text-align: left;
    color: #FFCF91 !important;
}

.boxers:hover {
    color: red;
}

.boxers {
    border:none;
}

@media only screen and (max-width: 550px){
    *{
        border:green dashed 1px;
    }

    .one-half.column {
        width:50%;
    }
}