/*
http://paletton.com/#uid=c4O1+3y2T0kaWV7mcQPiXAMb5J97h-i

exported save: Palette E.html
*/

/* bubbleing header by html5andblog on CodePen */
.bubbles {
    display: inline-block;
    font-family: arial;
    position: relative;
}

.bubbles h1 {
    position: relative;
    margin: 1em 0 0;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    z-index: 2;
}

.individual-bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    background-color: #fff;
    z-index: 1;
}
/* End of Bubbling Header */

/* Begin Jelly Checkbox by Andreas Storm on CodePen 
based on: https://codepen.io/andreasstorm/pen/dNqLBz

( started with the compiled html and css, then modded
to our our own style modifications to match
   our color theme, but need to learn how to adapt it 
   when using skeleton css.)
*/
.test1 {
    display: none !important;
}

.leo_test{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.third {
  width: 30%;
}
.third-special{
  width:30%;
  margin-top: 5px;
  padding-top:6px;
  display: flex;
  justify-content: space-between
}
.third-special-child{
  width: 45%;
}

.leo_test_div_3{
    width: 30%;
}

.leo_test_div_6{
    width: 15%;
}

.cbx {
  position: relative;
  top: 1px;
  width: 17px;
  height: 17px;
  border: 3px solid #A0F4B3;
  border-radius: 3px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
}
.cbx:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 5px;
  width: 5px;
  height: 11px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}
.lbl {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
  font-family: 'Arial', cursive;
  color: #fff;
  font-size: 20px;

}
#cbx:checked ~ .cbx {
  border-color: transparent;
  background: #48EB6C;
  animation: jelly 0.6s ease;
}
#cbx:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}
/*
.cntr {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: left;
}*/

@-moz-keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
@-o-keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
/* End Jelly Checkbox */


*{
    /* note that dashed border is for dev layout only 
border: #C24BE4 dashed 1px; */
text-align:center;
}

body{
    background-color: rgb(231, 206, 238);
}

td {
    width: 25%;
}

#nonClothingTab, 
#clothingTab {
    box-sizing:border-box;
    width:49.7%;
    height:110%;
    border-radius: 0%;
}

.themed-button {
    color: #50A0E2 !important;
    background-color: #A3CCEE !important;
    border-color: #5188B5 !important;
    width: 100%;
}

.themed-button:hover {
    color: #50A0E2 !important;    
    background-color: #A0F4B3 !important;
    border-color: #53CC6E !important;
    border-width: 2px; 
}

.themed-select {
    color: #50A0E2 !important;
    background-color: #A3CCEE !important;
    border-color: #5188B5 !important;
}

.themed-select:hover {
    color: #50A0E2 !important;
    background-color: #A0F4B3 !important;
    border-color: #53CC6E !important;
    border-width: 2px;
}


.themed-input {
    text-align: left;
    color: #50A0E2 !important;
    background-color: #A0F4B3 !important;
    border-color: #9BC9A6 !important;
}

.themed-input:hover {
    text-align: left;
    color: #50A0E2 !important;
    background-color: #A0F4B3 !important;
    border-color: #48EB6C !important;
    border-width: 2px;
}

.themed-table {
    color: #5188B5;
    background-color: rgb(197, 221, 240);
    border-color: #50A0E2;
    border-width: 2px;
}

tbody {
    text-align:center;
}

.boxers:hover {
    color: #53CC6E;
    font: outline;
    font-weight: bolder;
}

.boxers {
    border:none;
}

.hideYoKids {
    visibility: hidden
}

@media only screen and (max-width: 860px) {
  #nonClothingTab,
  #clothingTab {
    width: 47%;
  }
}

@media only screen and (max-width: 740px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  thead tr {
    display: none;
  }
  tr {
    border: 1px solid #ccc;
    margin: auto;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  td img {
    margin: auto;
  }
}

@media only screen and (max-width: 550px) {
  .one-half.column {
    width: 50%;
  }
}