/*
http://paletton.com/#uid=c4O1+3y2T0kaWV7mcQPiXAMb5J97h-i

exported save: Palette E.html
*/

/* bubbleing header by html5andblog on CodePen */
.bubbles {
    display: inline-block;
    font-family: arial;
    position: relative;
}

.bubbles h1 {
    position: relative;
    margin: 1em 0 0;
    font-family: 'Luckiest Guy', cursive;
    color: #fff;
    z-index: 2;
}

.individual-bubble {
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    background-color: #fff;
    z-index: 1;
}

*{
    /* note that dashed border is for dev layout only */
border: #C24BE4 dashed 1px;
text-align:center;
}

body{
    background-color: #DEA0EF;
}

tbody {
    text-align:center;
}

#nonClothingTab, 
#clothingTab {
    box-sizing:border-box;
    width:49.7%;
    height:110%;
    border-radius: 0%;
}

.themed-tbody {
    background-color: #F7FEA7 !important;
    color: #EFFB67 !important;
}

.themed-button {
    color: #50A0E2 !important;
    background-color: #A3CCEE !important;
    border-color: #5188B5 !important;
}

.themed-button:hover {
    color: #50A0E2 !important;    
    background-color: #A0F4B3 !important;
    border-color: #53CC6E !important;    
}

.themed-select {
    color: #50A0E2 !important;
    background-color: #A3CCEE !important;
    border-color: #5188B5 !important;
}

.themed-select:hover {
    color: #50A0E2 !important;    
    background-color: #A0F4B3 !important;
    border-color: #53CC6E !important;    
}


.themed-input {
    text-align: left;
    color: #50A0E2 !important;
    background-color: #A0F4B3 !important;
    border-color: #9BC9A6 !important;
}

.boxers:hover {
    color: red;
}

.boxers {
    border:none;
}

@media only screen and (max-width: 550px){
    *{
        border:green dashed 1px;
    }

    .one-half.column {
        width:50%;
    }
}