*{
border: red dashed 1px;
text-align: center;
}

tbody {
    width:100%;
}

.panties:hover {
    color: red;
}

.panties {
    border:none;
}

@media only screen and (max-width: 550px){
    *{
        border:green dashed 1px;
    }
}